h1{
    color: mediumseagreen;text-align: center;
}
h2{
    border:3px solid salmon;
    color:royalblue; text-align: center ;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
tr{
    background-color: lightblue;
}
table{
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-left: 35%;
    margin-right: 40%;
}
td {
    height: 50px;
    vertical-align:middle;
    }
      
    button{
        background-color: mediumturquoise;   
    }
    
    button:hover{
        background-color: pink;
    }
    div{
        border:2px solid tomato;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 35%;
        padding: 30px;
        background-color: mistyrose;
        width: 20%;   
    }