h1{
    color: mediumseagreen;text-align: center;
}
h2{
    color: olive; text-align: center;
}
tr{
    background-color: lightblue;
}
table{
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-left: 40%;
    margin-right: 40%;
}
td {
    height: 50px;
    vertical-align:middle;
    }
    form
    {
        margin-left: 40%;
        margin-right: 40%;
        padding-bottom: 20px;
        padding-inline-end: 20px;
    }
    button{
        background-color: mediumturquoise;
    }